@use '../../../styles/themes' as themes;

// Hands colors don't change between light and dark mode, but second hands
// color does change when there is no theme applied.
:host {
  --hands: var(--gray5-dark);
  --seconds: var(--gray3);  
}

[theme] {
  --seconds: var(--gray2-dark);
}

[theme='default'] {
  --seconds: var(--gray3);
  --theme: var(--default);
}

// Light mode generated theme colors.
@each $theme in themes.$themes {
  [theme='#{$theme}'] {
    --theme: var(--#{$theme});
  }
}

@media (prefers-color-scheme: dark) {
  :host {
    --seconds: var(--gray2-dark);
  }

  [theme='none'],
  [theme='default'] {
    --hands: var(--gray5);
  }

  [theme='default'] {
    --seconds: var(--gray1);
  }

  // Dark mode generated theme colors.
  @each $theme in themes.$themes {
    [theme='#{$theme}'] {
      --theme: var(--#{$theme}-dark-contrast);
    }
  }
}
