@use '../../../styles/const';
@use '../../../styles/utils';

:host {
  block-size: 100dvh;
  display: grid;
  font-family: 'Avenir Variable', sans-serif;
  font-variation-settings: 'wght' 500;
  place-content: center;
}

clock-faces[seconds] {
  --seconds-opacity: 1;
}

// Hands colors don't change between light and dark mode, but second hands
// color does change when there is no theme applied.
:host,
[theme] {
  --hands: #{utils.map-deep-get(const.$grays, 5, dark)}; 
}

:host {
  --seconds: #{utils.map-deep-get(const.$grays, 3, light)};
}

[theme] {
  --seconds: #{utils.map-deep-get(const.$grays, 2, dark)};
}

[theme='default'] {
  --seconds: #{utils.map-deep-get(const.$grays, 3, light)};
}

// Inverted hands and seconds for darker themes.
:is([theme='indigo'], [theme='pink'], [theme='red']) {
  --hands: #{utils.map-deep-get(const.$grays, 6, light)};
  --seconds: #{utils.map-deep-get(const.$grays, 2, light)};
}

@media (prefers-color-scheme: dark) {
  :host {
    --hands: #{utils.map-deep-get(const.$grays, 5, light)};
    --seconds: #{utils.map-deep-get(const.$grays, 2, dark)};
  }

  [theme='default'] {
    --hands: #{utils.map-deep-get(const.$grays, 5, light)};
    --seconds: #{utils.map-deep-get(const.$grays, 1, light)};
  }
}

@include utils.color-vars('theme', const.$colors);
