.clocks
  margin 5vh 5vw
  max-width CLOCKS_MAX_WIDTH
  overflow hidden
  transition background THEME_TRANSITION_SPEED,
             border THEME_TRANSITION_SPEED

.clocks__frame
  display flex
  flex-wrap wrap
  margin-right '%s%' % (CLOCK_OFFSET * -4)
  padding '%s% %s% %s%' % ((CLOCK_OFFSET * 2) (CLOCK_OFFSET * 2) CLOCK_OFFSET)

n-clock
  display block

.clocks__frame > n-clock
  flex 0 0 (CLOCK_WIDTH * 100%)
  height 100%
  margin '%s% 0 0 %s%' % ((- CLOCK_OFFSET) (- CLOCK_OFFSET))

.clock__hand
  stroke-width '%spx' % (STROKE_WIDTH * 2)
  transition stroke THEME_TRANSITION_SPEED

.clock__pivot
  transition fill THEME_TRANSITION_SPEED
