.clocks
  background white
  border-bottom 1px solid #ddd
  border-top 1px solid #ddd
  overflow hidden
  max-width CLOCKS_MAX_WIDTH

  @media BREAKPOINT_1
    border 1px solid #ddd
  
  @media BREAKPOINT_2
    margin CLOCKS_MARGIN

.clocks__frame
  display flex
  flex-wrap wrap
  margin-right '%s%' % (CLOCK_OFFSET * -4)
  padding '%s% %s% %s%' % ((CLOCK_OFFSET * 2) (CLOCK_OFFSET * 2) CLOCK_OFFSET)

.clocks__frame > n-clock
  flex 0 0 (CLOCK_WIDTH * 100%)
  height 100%
  margin '%s% 0 0 %s%' % ((- CLOCK_OFFSET) (- CLOCK_OFFSET))

n-clock
  display block

n-clock line
  stroke black
  stroke-width '%spx' % (STROKE_WIDTH * 2)

n-clock circle 
  fill black