.clocks
  max-width px_to_rem(512)

  @media BREAKPOINT
    background white
    border 1px solid #ddd
    margin px_to_rem(24)

.clocks__frame
  display flex
  flex-wrap wrap
  margin-right '%s%' % (CLOCK_OFFSET * -4)
  padding '%s% %s% %s%' % ((CLOCK_OFFSET * 2) (CLOCK_OFFSET * 2) CLOCK_OFFSET)

.clocks__frame > n-clock
  flex 0 0 (CLOCK_WIDTH * 100%)
  height 100%
  margin '%s% 0 0 %s%' % ((- CLOCK_OFFSET) (- CLOCK_OFFSET))

n-clock
  display block

n-clock line
  stroke black
  stroke-width '%spx' % (STROKE_WIDTH * 2)

n-clock circle 
  fill black