.copyright
  color var(--text)
  font-size px_to_em(13)
  grid-area footer
  margin 0
  padding px_to_rem(16)
  text-align center

.copyright__bug
.copyright__link
  transition color var(--transition)

.copyright__link
  font_weight(600)
  link(var(--link), var(--link), var(--link-active))

[no-touch] .copyright__link
  link_hover(var(--link-active))

[no-touch] .copyright__link:hover
  transition color var(--transition)
