html
body
  margin 0
  padding 0
  -webkit-tap-highlight-color transparent
  text-size-adjust none

body
  align-items center
  display flex
  height 100%
  justify-content center
  flex-direction column
  min-height 100vh // fallback
  min-height calc(var(--viewport-unit, 1vh) * 100)
  transition background THEME_TRANSITION_SPEED,
             color THEME_TRANSITION_SPEED

*
  box-sizing border-box

a
  text-decoration none

a:focus
  outline none

svg
  height auto
  pointer-events none
  vertical-align middle
  width 100%
