font_face()

html
body
  margin 0
  padding 0
  -webkit-tap-highlight-color transparent
  text-size-adjust none

body
  body_font()
  display grid
  grid-template-areas 'content'\
                      'footer'
  grid-template-columns 1fr
  grid-template-rows 1fr auto
  min-height 100vh // fallback
  min-height calc(var(--viewport-unit, 1vh) * 100)
  transition 'background %s, color %s' % (Transition.THEME Transition.THEME)

*
  box-sizing border-box

a
  text-decoration none

a:focus
  outline none

svg
  height auto
  pointer-events none
  vertical-align middle
  width 100%
