body[no-js]
  align-items center
  color rgba(black, .7)
  display flex
  justify-content center
  flex-direction column
  min-height 100vh // fallback
  min-height calc(var(--viewport-unit, 1vh) * 100)

body[no-js] .app
  display none

.no-js
  padding 1rem

.no-js__message
  margin 0 auto
  max-width 30rem
  padding 2rem
  text-align center

.no-js__message > a
  font-weight bold
  link(white, white, rgba(white, .7))

[no-touch] .no-js__message > a
  transition color TRANSITION_SPEED
  link_hover(rgba(white, .7))

