// @type Color
LINK_COLOR = #0070c9

// @type String
TRANSITION_SPEED = .3s

// @mixin link
// @param Color link
// @param Color visited
// @param Color hover
// @param Color active
link(link, visited, hover, active)
  &:link
    color link

  &:visited
    color visited

  &:active
  &:focus
    color active

  [no-touch] &
    &:hover
      color hover

// ------------------------------
// 'no-js' styles
// ------------------------------
body[no-js]
  background white
  color black

body[no-js] .clocks
  display none

.no-js
  color #333
  font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-weight bold
  padding 1rem

.no-js__message
  margin 0 auto
  max-width 30rem
  padding 2rem
  text-align center

.no-js__message > a
  link(LINK_COLOR, LINK_COLOR, rgba(LINK_COLOR, .7), rgba(LINK_COLOR, .7))
  white-space nowrap

[no-touch] .no-js__message > a
  transition color TRANSITION_SPEED
