body[no-js] .clocks
  display none

.no-js
  padding 1rem

.no-js__message
  margin 0 auto
  max-width 30rem
  padding 2rem
  text-align center

// TODO: Update 'no-js' link colors.
.no-js__message > a
  font-weight bold
  link(white, white, rgba(white, .7))

[no-touch] .no-js__message > a
  transition color TRANSITION_SPEED
  link_hover(rgba(white, .7))

