.themifier
  cursor default
  height 100%
  left 0
  position fixed
  top 0
  width 100vw

for name, theme in ClockThemes
  [theme=\"{name}\"]
    {body}&
      background theme['BACKGROUND'];

    .clocks
      background theme['FACE'];
      border 1px solid theme['BORDER'];

    .clock__hand
      stroke theme['HANDS'];

    .clock__pivot
      fill theme['HANDS'];
