// 'light' theme
body[theme="light"]
  background #f7f7f7
  color rgba(black, .7)

  .clocks
    background white
    border 1px solid #ddd

  n-clock line
    stroke black

  n-clock circle 
    fill black

// 'dark' theme
body[theme="dark"]
  background #111
  color rgba(white, .7)

  .clocks
    background black  
    border 1px solid #222

  n-clock line
    stroke white

  n-clock circle 
    fill white