// --------------------------------------------------
// functions

px_to_em(px)
  em_units = px / 16
  return em_units * 1em

px_to_rem(px)
  rem_units = px / 16
  return rem_units * 1rem

// --------------------------------------------------
// constants

// Clocks lay out in a 3 x 3 grid.
CLOCK_WIDTH = 1 / 3

CLOCKS_MARGIN = px_to_rem(32)
CLOCKS_MAX_WIDTH = px_to_rem(512)

// NOTE: All clock element dimensions below need to be coordinated with the same values in 'js/modules/customClock.js'
CLOCK_SIZE = 100
CLOCK_CENTER = CLOCK_SIZE / 2
STROKE_WIDTH = 3
HOURS_HAND_LENGTH = 30
MINUTES_HAND_LENGTH = CLOCK_CENTER - STROKE_WIDTH

// Gap between clock hands for 6:00, where hands are vertically aligned.
CLOCK_GAP = 1

// Calculate the offset as a percentage for laying out clocks mathematically.
CLOCK_OFFSET = (CLOCK_SIZE - HOURS_HAND_LENGTH - MINUTES_HAND_LENGTH - CLOCK_GAP) * CLOCK_WIDTH

// Transitions.
TRANSITION_SPEED = .3s

// Breakpoint.
BREAKPOINT_1 = 'screen and (min-width: %s)' % CLOCKS_MAX_WIDTH
BREAKPOINT_2 = 'screen and (min-width: %s)' % (CLOCKS_MAX_WIDTH + (CLOCKS_MARGIN * 2))

// --------------------------------------------------
// mixins

link(link, visited, active)
  &:link
    color link

  &:visited
    color visited

  &:active
  &:focus
    color active

link_hover(hover)
  &:hover
    color hover