@use 'const';
@use 'utils';

@font-face {
  font-display: swap;
  font-family: 'Avenir Variable';
  font-weight: 1 999;
  src: url('https://assets.gauslin.com/fonts/AvenirNext-Variable.woff2') format('woff2');
}

:root {
  --dialog-surface: #{rgba(utils.map-deep-get(const.$grays, 6, light), .8)};
  --on-surface: #{utils.map-deep-get(const.$grays, 5, dark)};
  --on-surface-variant: #{utils.map-deep-get(const.$grays, 3, light)};
  --surface: #{utils.map-deep-get(const.$grays, 6, light)};
  --surface1: #{utils.map-deep-get(const.$grays, 5, light)};
  --surface2: #{utils.map-deep-get(const.$grays, 4, light)};

  @media (prefers-color-scheme: dark) {
    --dialog-surface: #{rgba(utils.map-deep-get(const.$grays, 5, dark), .8)};
    --on-surface: #{utils.map-deep-get(const.$grays, 5, light)};
    --on-surface-variant: #{utils.map-deep-get(const.$grays, 3, dark)};
    --surface: #{utils.map-deep-get(const.$grays, 6, dark)};
    --surface1: #{utils.map-deep-get(const.$grays, 5, dark)};
    --surface2: #{utils.map-deep-get(const.$grays, 4, dark)};
  }
}

* {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--surface);
  block-size: 100vh;
  margin: 0;
  overflow: hidden;
  place-items: center;
  touch-action: manipulation;

  @supports (block-size: 100dvh) {
    block-size: 100dvh;
  }
}
