:root {
  // Theming.
  --border: 1px solid var(--gray5);
  --default: white;
  --fill-0: var(--gray6);
  --fill-1: white;
  --fill-2: var(--gray5);
  --outline: var(--text-color);
  --text-color: var(--gray5-dark);

  // Apple HGI light and dark mode colors.
  --gray1: rgb(142, 142, 147);
  --gray1-dark: rgb(142, 142, 147);

  --gray2: rgb(174, 174, 178);
  --gray2-dark: rgb(99, 99, 102);

  --gray3: rgb(199, 199, 204);
  --gray3-dark: rgb(72, 72, 74);

  --gray4: rgb(209, 209, 214);
  --gray4-dark: rgb(58, 58, 60);

  --gray5: rgb(229, 229, 234);
  --gray5-dark: rgb(44, 44, 46);

  --gray6: rgb(242, 242, 247);
  --gray6-dark: rgb(28, 28, 30);

  --red: rgb(255, 56, 60);
  --red-dark: rgb(255, 66, 69);
  --red-contrast: rgb(233, 21, 45);  
  --red-dark-contrast: rgb(255, 97, 101);

  --orange: rgb(255, 141, 40);
  --orange-dark: rgb(255, 146, 48);
  --orange-contrast: rgb(197, 83, 0);
  --orange-dark-contrast: rgb(255, 160, 86);

  --yellow: rgb(255, 204, 0);
  --yellow-dark: rgb(255, 214, 0);
  --yellow-contrast: rgb(161, 106, 0);
  --yellow-dark-contrast: rgb(254, 223, 67);

  --green: rgb(52, 199, 89);
  --green-dark: rgb(48, 209, 88);
  --green-contrast: rgb(0, 137, 50);
  --green-dark-contrast: rgb(74, 217, 104);

  --mint: rgb(0, 200, 179);
  --mint-dark: rgb(0, 218, 195);
  --mint-contrast: rgb(0, 133, 117);
  --mint-dark-contrast: rgb(84, 223, 203);

  --teal: rgb(0, 195, 208);
  --teal-dark: rgb(0, 210, 224);
  --teal-contrast: rgb(0, 129, 152);
  --teal-dark-contrast: rgb(59, 221, 236);
  
  --cyan: rgb(0, 192, 232);
  --cyan-dark: rgb(60, 211, 254);
  --cyan-contrast: rgb(0, 126, 174);
  --cyan-dark-contrast: rgb(109, 217, 255);

  --blue: rgb(0, 136, 255);
  --blue-dark: rgb(0, 145, 255);
  --blue-contrast: rgb(30, 110, 244);      
  --blue-dark-contrast: rgb(92, 184, 255);
  
  --indigo: rgb(97, 85, 245);
  --indigo-dark: rgb(109, 124, 255);
  --indigo-contrast: rgb(86, 74, 222);  
  --indigo-dark-contrast: rgb(167, 170, 255);

  --purple: rgb(203, 48, 224);
  --purple-dark: rgb(219, 52, 242);
  --purple-contrast: rgb(176, 47, 194);    
  --purple-dark-contrast: rgb(234, 141, 255);

  --pink: rgb(255, 45, 85);
  --pink-dark: rgb(255, 55, 95);
  --pink-contrast: rgb(231, 18, 77);      
  --pink-dark-contrast: rgb(255, 138, 196);

  --brown: rgb(172, 127, 94);
  --brown-dark: rgb(183, 138, 102);
  --brown-contrast: rgb(149, 109, 81);
  --brown-dark-contrast: rgb(219, 166, 121);

  // Global properties.
  --transition: .25s;

  // Dark mode theming.
  @media (prefers-color-scheme: dark) {
    --border: 1px solid var(--gray5-dark);
    --default: black;
    --fill-0: var(--gray6-dark);
    --fill-1: var(--gray5-dark);
    --fill-2: var(--gray4-dark);
    --text-color: var(--gray5);
  }
}
