color-picker
  position relative
  z-index 1

color-picker > button
  align-items center
  color inherit
  cursor pointer
  display flex
  height var(--header-height)
  justify-content center
  margin 0 rem(-12) 0 0
  opacity 1
  transition opacity transition, transform transition
  width button-width

  &:focus
  [no-touch] &:hover
    transform scale(1.25)

  [no-touch] &:hover
    opacity .75

  &:active
    transform scale(.85)

  > svg
    flex 0 0 rem(20)
    pointer-events none

color-picker > ul
  &
  &::before
    background var(--background-1)
    box-shadow var(--menu-box-shadow)

  border-radius rem(4)
  display grid
  grid-gap rem(8)
  grid-template-columns repeat(4, 1fr)
  list-style none
  margin rem(8) 0 0
  opacity 0
  padding rem(12)
  position absolute
  right rem(-14)
  transform 'translateY(-%s)' % rem(12)
  transition opacity transition, transform transition, visibility transition
  visibility hidden
  z-index -1

  @media breakpoint.medium
    margin-top rem(-2)

  // Menu arrow via rotated square with a shadow.
  &::before
    clip-path polygon(rem(-8) rem(-8), rem(-8) rem(24), rem(24) rem(-8))
    content ''
    display block
    height menu-arrow
    position absolute
    right menu-arrow
    top (- menu-arrow / 2)
    transform rotate(45deg)
    width menu-arrow

color-picker[open] > ul
  opacity 1
  transform translateY(0)
  visibility visible
  z-index 1

color-picker label
  cursor pointer
  display block
  outline 0
  position relative

  // Hide each item's radio button and use its label as the hit area.
  & > input
    height 0
    position absolute
    visibility hidden
    width 0

  // The <span> inside each color option provides the outer ring for each swatch.
  & > span
    align-items center
    background var(--face)
    border-radius 50%
    color transparent
    display inline-flex
    height menu-item-size
    justify-content center
    margin 2px
    position relative
    width menu-item-size
    z-index -1

    [no-touch] &
      transition transform transition

  // The <div> inside each color option is the swatch.
  & > div
    background var(--face)
    visibility hidden
    z-index -3

    &
    &::after
      border-radius 50%
      height 100%
      left 0
      position absolute
      top 0
      width 100%

    &::after
      background black
      content ''
      opacity .2
      z-index -2

    [no-touch] &
      transition transform transition

    // Always show the swatch for white since you can't see it otherwise.
    &[color=white]
      visibility visible

color-picker input:checked
  & + span::after
    border-bottom 2px solid var(--hands)
    border-left 2px solid var(--hands)
    content ''
    display inline-block
    height rem(7)
    left rem(8)
    position absolute
    top rem(8)
    transform rotate(-45deg)
    width rem(14)

  & ~ div
    visibility visible

color-picker
  label:focus > input:not(:checked) + span
  label:focus > input:not(:checked) ~ div
  [no-touch] & label:hover > input:not(:checked) + span
  [no-touch] & label:hover > input:not(:checked) ~ div
    transform scale(1.2)
