.color-picker
  margin 0 0 0 auto
  position relative
  z-index 1

.color-picker__toggle
  align-items center
  color var(--link)
  cursor pointer
  display flex
  height var(--header-height)
  justify-content center
  transition color transition, transform transition
  width button-width

.color-picker__toggle:focus
[no-touch] .color-picker__toggle:hover
  transform scale(1.2)

.color-picker__toggle:active
  color var(--link-active)
  transform scale(.8)

.color-picker__icon
  flex 0 0 rem(20)

.color-picker__menu
.color-picker__menu::before
  background var(--menu-background)
  box-shadow var(--menu-shadow)

.color-picker__menu
  border-radius rem(4)
  display grid
  grid-gap rem(8)
  grid-template-columns repeat(4, 1fr)
  list-style none
  margin rem(8) 0 0
  opacity 0
  padding rem(12)
  position absolute
  right rem(-2)
  transform 'translateY(-%s)' % rem(12)
  transition opacity transition, transform transition, visibility transition
  visibility hidden
  z-index -1

  @media breakpoint.medium
    margin-top rem(-2)

[open] > .color-picker__menu
  opacity 1
  transform translateY(0)
  visibility visible
  z-index 1

// Menu arrow via rotated square with a shadow.
.color-picker__menu::before
  clip-path polygon(rem(-8) rem(-8), rem(-8) rem(24), rem(24) rem(-8))
  content ''
  display block
  height menu-arrow
  position absolute
  right menu-arrow
  top (- menu-arrow / 2)
  transform rotate(45deg)
  width menu-arrow

.color-picker__label
  display block
  position relative

.color-picker__label:focus
  outline 0

[no-touch] .color-picker__label:hover
  cursor pointer

// Hide each item's radio button and use its label as the hit area.
.color-picker__option
  height 0
  position absolute
  visibility hidden
  width 0

.color-picker__swatch
  align-items center
  background var(--face)
  border-radius 50%
  color transparent
  display inline-flex
  height menu-item-size
  justify-content center
  margin 2px
  position relative
  width menu-item-size
  z-index -1

.color-picker__marker
.color-picker__marker::after
  border-radius 50%
  height 100%
  left 0
  position absolute
  top 0
  width 100%
  
.color-picker__marker
  background var(--face)
  visibility hidden
  z-index -3

.color-picker__marker::after
  background black
  content ''
  opacity .2
  z-index -2

// Always show  marker for white. Otherwise, the swatch color matches the
// menu background and is effectively invisible.
.color-picker__marker[color=white]
  visibility visible

.color-picker__option:checked ~ .color-picker__marker
  visibility visible

.color-picker__option:checked + .color-picker__swatch::after
  border-bottom 2px solid var(--hands)
  border-left 2px solid var(--hands)
  content ''
  display inline-block
  height rem(7)
  left rem(8)
  position absolute
  top rem(8)
  transform rotate(-45deg)
  width rem(14)

[no-touch] .color-picker__swatch
[no-touch] .color-picker__marker
  transition transform transition

.color-picker__label:focus .color-picker__option:not(:checked) + .color-picker__swatch
.color-picker__label:focus .color-picker__option:not(:checked) ~ .color-picker__marker
[no-touch] .color-picker__label:hover .color-picker__option:not(:checked) + .color-picker__swatch
[no-touch] .color-picker__label:hover .color-picker__option:not(:checked) ~ .color-picker__marker
  transform scale(1.2)
