color-picker
  grid-area picker
  place-self center
  position relative
  z-index 1

color-picker > button
  background var(--background-1)
  border-radius 50%
  color var(--text-2-color)
  cursor pointer
  display flex
  height BUTTON_HEIGHT
  opacity 1
  place-items center
  transition background TRANSITION, transform TRANSITION
  width BUTTON_WIDTH

  &:active
  &:focus
  &[aria-expanded='true']
  [no-touch] &:hover
    background var(--background-2)

  &:active
    transform scale(.9)

color-picker > button svg
  fill currentColor
  flex 0 0 rem(20)
  margin auto
  pointer-events none

// [1] Formatting hack to render vanilla CSS function instead of calling
// built-in Stylus function.
color-picker > ul
  border-radius rem(4)
  bottom BUTTON_HEIGHT
  display grid
  gap rem(8)
  grid 'auto-flow / repeat(4, 1fr)' % null  // [1]
  left 50%
  list-style none
  opacity 0
  padding rem(12)
  position absolute
  transform 'translate3d(-50%, %s, 0)' % rem(8)
  transition opacity TRANSITION, transform TRANSITION, visibility TRANSITION
  visibility hidden
  z-index -1

color-picker > ul
color-picker > ul::before
  background var(--background-1)
  box-shadow var(--menu-box-shadow)

// Menu arrow via rotated square with a drop shadow and clip-path.
color-picker > ul::before
  bottom (- MENU_ARROW / 2)
  clip-path polygon(rem(-8) rem(-8), rem(-8) rem(24), rem(24) rem(-8))
  content ''
  display block
  height MENU_ARROW
  position absolute
  left 'calc(50% - %s)' % (MENU_ARROW / 2)
  transform rotate(-135deg)
  width MENU_ARROW

color-picker[open] > ul
  opacity 1
  transform 'translate3d(-50%, %s, 0)' % rem(-4)
  visibility visible
  z-index 1

color-picker label
  cursor pointer
  display block
  outline 0
  position relative

// Hide each item's radio button and use its label as the hit area.
color-picker label > input
  height 0
  position absolute
  visibility hidden
  width 0

// The <span> inside each color option provides the outer ring of each swatch.
color-picker label > span
  background var(--face)
  border-radius 50%
  color transparent
  display inline-flex
  height MENU_ITEM_SIZE
  margin 2px
  position relative
  width MENU_ITEM_SIZE
  z-index -1

[no-touch] color-picker label > span
  transition transform TRANSITION

// The <div> inside each color option is the inner circle of each swatch.
color-picker label > div
color-picker label > div::after
  border-radius 50%
  height 100%
  left 0
  position absolute
  top 0
  width 100%

color-picker label > div
  background var(--face)
  visibility hidden
  z-index -3

color-picker label > div::after
  background black
  content ''
  opacity .2
  z-index -2

[no-touch] color-picker label > div
  transition transform TRANSITION

color-picker input:checked + span::after
  border-bottom 2px solid var(--hands)
  border-left 2px solid var(--hands)
  content ''
  display inline-block
  height rem(7)
  left rem(8)
  position absolute
  top rem(8)
  transform rotate(-45deg)
  width rem(14)

color-picker input:checked ~ div
  visibility visible

color-picker label:focus > input:not(:checked) + span
color-picker label:focus > input:not(:checked) ~ div
[no-touch] color-picker label:hover > input:not(:checked) + span
[no-touch] color-picker label:hover > input:not(:checked) ~ div
  transform scale(1.2)

// Always show the white swatch's border in light mode since the swatch blends
// in with the menu background otherwise.
@media (prefers-color-scheme light)
  color-picker label > div[color='white']
    visibility visible
