// Default light mode colors.
background-0 = #f2f2f7
background-1 = #fefffe
link-color = #0079fd
text-1-color = black

// Dark mode colors.
background-0-dark = black
background-1-dark = #1c1c1e
link-color-dark = #0a84fe
text-1-color-dark = #fefffe

// Dimensions.
button-width = rem(44)
max-width = rem(512)
menu-arrow = rem(16)
menu-item-size = rem(32)

// Breakpoints.
breakpoint = {
  medium: 'screen and (min-width: %s)' % rem(640)
}

// Transitions.
transition = .3s ease-out