body
  background var(--background-0)
  color var(--text-1-color)
  display grid
  font-family 'Avenir Variable', sans-serif
  font-variation-settings 'wght' 500
  grid-template-areas:
    '.'\
    'clocks'\
    'header'
  grid-template-columns 1fr
  grid-template-rows 1fr auto 3fr
  margin 0
  min-height calc(var(--vh, 1vh) * 100)
  padding 0 0 env(safe-area-inset-bottom)
  transition background transition, color transition
