header
  background var(--header-background)
  border-bottom 1px solid var(--border)
  color var(--text)
  padding 0 env(safe-area-inset-right) 0 env(safe-area-inset-left)
  position sticky
  top 0
  transition background transition, border transition, color transition

  & > div
    align-items center
    display flex
    height var(--header-height)
    margin 0 auto
    max-width 'calc(%s + 10vw)' % max-width
    padding 0 5vw

  h1
    font-size var(--site-header)
    line-height 1
    margin 0
    white-space nowrap
