header
  align-items center
  display flex
  height var(--header-height)
  margin 0 auto
  max-width 'calc(%s + 10vw)' % max-width
  padding 0 5vw

  h1
    font-size var(--site-header)
    line-height 1
    margin 0
    white-space nowrap
