all-webfonts()

html
body
  margin 0
  padding 0
  -webkit-tap-highlight-color transparent
  text-size-adjust none

*
  box-sizing border-box

a
  text-decoration none

a:focus
  outline none

svg
  height auto
  pointer-events none
  vertical-align middle
  width 100%

svg path
  fill currentColor

// Remove all default styles from form elements.
button
[type=checkbox]
[type=radio]
  appearance none
  background none
  border 0
  margin 0
  outline 0
  padding 0
