main
  align-self center
  grid-row 2
  justify-self center
  padding 0 env(safe-area-inset-right) 0 env(safe-area-inset-left)

[no-js] main
  color var(--text)

  a
    color var(--text)
    text-decoration underline
    transition opacity transition

    &:hover
    &:focus
      opacity .5
