main
  align-self center
  grid-row 2
  justify-self center
  min-height calc((var(--vh) * 100) - var(--header-height))
  padding 0 env(safe-area-inset-right) 0 env(safe-area-inset-left)

  a
    color var(--text)
    text-decoration underline
    transition opacity transition

    &:hover
    &:focus
      opacity .5

[no-js] main
  color var(--text)
