main
  grid-area clocks
  place-self center

[no-js] main
  color var(--text-1-color)
  grid-area no-js
  padding 1rem

  a
    transition opacity transition

    &:hover
    &:focus
      opacity .5
