:root
  --fineprint em(12)
  --header-height rem(48)
  --site-header rem(16)

  @media breakpoint.medium
    --fineprint em(14)
    --header-height rem(60)
    --site-header rem(20)

  // Default light theme.
  --background-0 background-0
  --background-1 background-1
  --border-color border-color
  --header-background rgba(background-0, .33)
  --menu-box-shadow elevation(2)
  --text-1-color text-1-color

  // Dark theme per user settings.
  @media (prefers-color-scheme dark)
    --background-0 background-0-dark
    --background-1 background-1-dark
    --border-color border-color-dark
    --header-background rgba(background-0-dark, .33)
    --menu-box-shadow 0 0 0 1px border-color-dark
    --text-1-color text-1-color-dark
