analog-clock
  display block

analog-clock line
  stroke var(--hands)
  stroke-width 6px // Double the value of the SVG pivot's value.
  transition stroke TRANSITION

analog-clock circle
  fill var(--hands)
  transition fill TRANSITION
