@use 'sass:math';
@use '../../styles/themes' as themes;

$button-size: 2.75rem;
$menu-padding: .75rem;
$swatch-size: 2rem;
$toggle-padding: .125rem;
$toggle-size: 1.25rem;

*,
*::before,
*::after {
  box-sizing: border-box;
}

// The dialog.
// [1] Required by Safari for open/close transitions.
dialog {
  background-color: var(--dialog-background);
  border: var(--border);
  border-radius: 1rem;
  display: block; // [1]
  inset-block: auto 5dvw;
  max-inline-size: 90dvw;
  padding: 0;
  transition: opacity var(--transition), transform var(--transition);

  &[inert] {
    opacity: 0;
    pointer-events: none;
    transform: translateY(100%);
  }

  &::backdrop {
    background-color: transparent;
  }
}

// Prevent background content from scrolling when dialog is open.
html:has(dialog[open]) {
  overflow: hidden;
}

// All settings in a standard <form> element.
form {
  display: grid;
  gap: $menu-padding 0;
  grid: auto auto / 1fr 1fr;
  padding-block: $menu-padding;
}

// Theme swatches.
ul {
  display: flex;
  gap: .375rem;
  grid-area: 2 / 1 / 2 / -1;
  list-style: none;
  margin: 0;
  overflow: auto hidden;
  padding-inline: $menu-padding;
  scrollbar-width: none;
  transition: opacity var(--transition);

  &::-webkit-scrollbar {
    display: none;
  }
}

// Override defaults for radio buttons and checkboxes.
input {
  appearance: none;
  cursor: pointer;
  margin: 0;
  outline: 0;
  padding: 0;
}

// [1] Border also acts as a focus indicator since an outline in Safari doesn't
// inherit the border-radius of the active element.
[type='radio'] {
  block-size: $swatch-size;
  border: 3px solid var(--swatch-border-color); // [1]
  border-radius: math.div($swatch-size, 2);
  display: grid;
  grid: 'content';
  inline-size: $swatch-size;
  overflow: hidden;
  transition: transform var(--transition);

  &:focus-visible {
    border-color: var(--outline);
  }

  &.touch {
    transform: scale(.8);
  }

  @media (any-hover: hover) {
    &:hover {
      border-color: var(--text-color);
    }

    &:active {
      transform: scale(.8);
    }
  }

  &::before,
  &::after {
    content: '';
    display: block;
    grid-area: content;
  }

  // Filled circle.
  &::before {
    background-color: var(--theme);
  }

  // Checkmark overlaid on selected swatch.
  &:checked::after {
    block-size: 11px;
    border-block-end: 3px solid var(--checked-color);
    border-inline-start: 3px solid var(--checked-color);
    inline-size: 17px;
    place-self: center;
    transform: rotate(-45deg) translate3d(1px, -1px, 0);
  }
}

// Labels contain a <span> containing text and a checkbox.
label {
  align-items: center;
  color: var(--text-color);
  cursor: pointer;
  display: grid;
  gap: 0 .5rem;
  grid: 'text toggle' / 1fr auto;
  padding-inline: .75rem;
}

label > span {
  font-size: .875rem;
  font-variation-settings: 'wght' 600;
  grid-area: text;
}

// Toggle switches via checkboxes.
input[type='checkbox'] {
  block-size: ($toggle-size + ($toggle-padding * 2));
  border: 3px solid transparent;
  border-radius: ($toggle-size + ($toggle-padding * 2));
  box-sizing: content-box;
  display: grid;
  grid: 'content';
  grid-area: 'toggle';
  inline-size: ($toggle-size * 2) + ($toggle-padding * 2);
  overflow: hidden;

  &:focus-visible {
    border-color: var(--outline);
  }

  &::before,
  &::after {
    content: '';
    display: block;
    grid-area: content;
  }

  // Filled capsule.
  &::before {
    background-color: var(--toggle-background);
    transition: background-color var(--transition);
  }

  &:checked::before {
    background-color: var(--green);
  }

  // Sliding switch.
  &::after {
    align-self: center;
    background-color: white;
    block-size: $toggle-size;
    border-radius: $toggle-size;
    content: '';
    display: block;
    inline-size: $toggle-size;
    margin-inline-start: $toggle-padding;
    transition: margin-inline-start var(--transition);
  }

  &:checked::after {
    margin-inline-start: ($toggle-size + $toggle-padding);
  }
}

// Theming for radio button swatches.
[value] {
  --checked-color: var(--gray6-dark);
}

[value='default'] {
  --swatch-border-color: var(--gray6);
  --theme: var(--default);
}

[value='none'] {
  --swatch-border-color: var(--gray6);
  --theme: var(--body-background);
}

// Light theme color vars.
@each $theme in themes.$themes {
  [value='#{$theme}'] {
    --swatch-border-color: var(--#{$theme});
    --theme: var(--#{$theme});
  }
}

@media (prefers-color-scheme: dark) {
  [value='default'] {
    --checked-color: var(--gray6);
    --swatch-border-color: var(--gray6-dark);
  }

  [value='none'] {
    --checked-color: var(--gray6);
    --swatch-border-color: var(--gray6-dark);
  }

  // Dark theme color vars.
  @each $theme in themes.$themes {
    [value='#{$theme}'] {
      --swatch-border-color: var(--#{$theme}-dark-contrast);
      --theme: var(--#{$theme}-dark-contrast);
    }
  }
}
