:root
  --footer-height px_to_rem(60)
  --header-height px_to_rem(44)
  --site-header px_to_rem(16)
  --transition .3s
  --transition-theme 1.5s
  --fineprint px_to_em(12)

  for name, values in Colors
    [color={name}]
      --face '%s' % values.face
      --hands '%s' % values.hands

  [theme=light]
    --background #f7f7f7
    --border #ddd
    --header-background white
    --link rgba(black, .7)
    --link-active black
    --text rgba(black, .7)

  [theme=dark]
    --background #111
    --border #222
    --header-background black
    --link rgba(white, .7)
    --link-active white
    --text rgba(white, .7)

  @media Breakpoint.MEDIUM
    --fineprint px_to_em(14)
    --header-height px_to_rem(60)
    --site-header px_to_rem(20)
