:root
  --transition .3s
  --transition-theme 1.5s
  --fineprint px_to_em(12)

  [theme=light]
    --background #f7f7f7
    --border #ddd
    --face white
    --hands black
    --link rgba(black, .7)
    --link-active black
    --text rgba(black, .7)

  [theme=dark]
    --background #111
    --border #222
    --face black
    --hands white
    --link rgba(white, .7)
    --link-active white
    --text rgba(white, .7)

  @media Breakpoint.MEDIUM
    --fineprint px_to_em(14)