.clocks
  align-self center
  background var(--face)
  elevation(1)
  grid-area content
  justify-self center
  margin 5vh 5vw
  max-width CLOCKS_MAX_WIDTH
  overflow hidden
  transition background var(--transition), border var(--transition)

.clocks__frame
  display grid
  grid-template-columns repeat(32, 1fr)
  grid-template-rows repeat(32, 1fr)

.clock
  display block

.clock:nth-child(1)
  grid-column 4 / span 10
  grid-row 4 / span 10

.clock:nth-child(2)
  grid-column 12 / span 10
  grid-row 4 / span 10

.clock:nth-child(3)
  grid-column 20 / span 10
  grid-row 4 / span 10

.clock:nth-child(4)
  grid-column 4 / span 10
  grid-row 12 / span 10

.clock:nth-child(5)
  grid-column 12 / span 10
  grid-row 12 / span 10

.clock:nth-child(6)
  grid-column 20 / span 10
  grid-row 12 / span 10

.clock:nth-child(7)
  grid-column 4 / span 10
  grid-row 20 / span 10

.clock:nth-child(8)
  grid-column 12 / span 10
  grid-row 20 / span 10

.clock:nth-child(9)
  grid-column 20 / span 10
  grid-row 20 / span 10

.clock__hand
  stroke var(--hands)
  stroke-width 6px
  transition stroke var(--transition)

.clock__pivot
  fill var(--hands)
  transition fill var(--transition)
