// [1] Each clock fully sits within a 10 x 10 grid, but we want the hour and 
// minute hands to touch at 6 PM and make 3 continuous vertical lines, so the
// layout for each clock is on an 8 x 8 grid:
//
//    3  hours hand length
// +  5  seconds hand length
// ----
// =  8  layout interval
// x  4  three clocks, where each clock is centered on a grid line intersection, plus half the interval on each side
// ----
// = 32  grid cells in each direction

.clocks
  align-self center
  background var(--face)
  display grid
  elevation(1)
  grid-area content
  grid-template-columns repeat(32, 1fr) // [1]
  grid-template-rows repeat(32, 1fr) // [1]
  justify-self center
  margin 5vh 5vw
  max-width MAX_WIDTH
  overflow hidden
  transition background var(--transition), border var(--transition)

.clock
  display block

// [2] Each clock is 10 grid cells wide, but is laid out every 8 cells to make
// the hour and minutes hand a continuous vertical line at 6 PM. The starting
// point for the first clock is column 4 and row 4, with an increase of 8 for
// each successive clock.
row = 0
column = 0
column_total = 3
clock_total = 9
tracks = (4 12 20) // [2]

for i in (1..clock_total)
  .clock:nth-child({i})
    grid-column '%s / span 10' % tracks[column]
    grid-row '%s / span 10' % tracks[row]

  if i % column_total == 0
    column = 0
    row += 1
  else
    column += 1

.clock__hand
  stroke var(--hands)
  stroke-width 6px
  transition stroke var(--transition)

.clock__pivot
  fill var(--hands)
  transition fill var(--transition)
