color-picker
  margin 0 0 0 auto
  position relative
  z-index 1

.toggle
  align-items center
  color var(--link)
  cursor pointer
  display flex
  height var(--header-height)
  justify-content center
  transition color var(--transition)
  width var(--button-width)

.toggle:hover
.toggle:focus
  color var(--link-active)

.toggle:active > .icon
  transform scale(.75)
  transition transform var(--transition)

.toggle > .icon
  width px_to_rem(20)

.menu
  background white
  border-radius px_to_rem(4)
  display grid
  elevation(1)
  grid-gap px_to_rem(8)
  grid-template-columns repeat(4, 1fr)
  max-width 50vw // TODO: Calculate max-width based on item size and gaps.
  opacity 0
  list-style none
  margin 0
  padding px_to_rem(12)
  position absolute
  right px_to_rem(4)
  transform 'translateY(-%s)' % px_to_rem(12)
  transition opacity var(--transition), transform var(--transition), visibility var(--transition)
  visibility hidden
  z-index -1

  @media Breakpoint.MEDIUM
    margin-top px_to_rem(-8)

color-picker[open] .menu
  opacity 1
  transform translateY(0)
  visibility visible
  z-index 1

.click-mask
  bottom 0
  left 0
  pointer-events none
  position fixed
  right 0
  top 0

color-picker[open] .click-mask
  pointer-events auto

// Menu arrow via rotated square with a shadow.
.menu::before
  background white
  content ''
  display block
  elevation(1)
  height MENU_ARROW
  position absolute
  right MENU_ARROW
  top (- MENU_ARROW / 2)
  transform rotate(45deg)
  width MENU_ARROW

// Cover for bottom half of menu arrow's shadow.
.menu::after
  background white
  content ''
  display block
  height MENU_ARROW
  position absolute
  right (MENU_ARROW / 2)
  top 0
  width (MENU_ARROW * 2)

.item__label
  display block
  height MENU_ITEM_SIZE
  overflow hidden
  position relative
  width MENU_ITEM_SIZE

[no-touch] .item__label:hover
  cursor pointer

// Hide each item's radio button and use its label as the hit area.
.option
  height 0
  position absolute
  visibility hidden
  width 0

.option__label
  align-items center
  border 2px solid #eee
  border-radius 50%
  color transparent
  display inline-flex
  height MENU_ITEM_SIZE
  justify-content center
  position relative
  width MENU_ITEM_SIZE
  z-index -1

for name, values in ColorPalette
  .option__label[option={name}]
    background '%s' % values.face

[no-touch] .option__label
  transition border var(--transition)

.option:checked + .option__label
  border-color #666

[no-touch] .item__label:hover .option:not(:checked) + .option__label
  border-color #ccc
