:root
  --button-width rem(44)
  --footer-height rem(48)
  --header-height rem(48)
  --site-header rem(16)
  --transition .3s ease-out
  --fineprint em(12)

  @media Breakpoint.MEDIUM
    --fineprint em(14)
    --footer-height rem(60)
    --header-height rem(60)
    --site-header rem(20)

  // Default light theme.
  --background #f7f7f7
  --border #ddd
  --header-background rgba(white, .97)
  --link DARK_GREY
  --link-active rgba(DARK_GREY, .7)
  --text DARK_GREY

  // Dark theme per user settings.
  @media (prefers-color-scheme dark)
    --background #262626
    --border #333
    --header-background rgba(DARK_GREY, .95)
    --link white
    --link-active rgba(white, .7)
    --text white

  // Color picker palette.
  for name, values in ColorPalette
    [color={name}]
      --face '%s' % values.face
      --hands '%s' % values.hands
