.copyright
  color var(--text)
  font-size var(--fineprint)
  grid-area footer
  margin 0
  padding px_to_rem(16)
  text-align center

.copyright__years
.copyright__owner
  transition color var(--transition)

.copyright__years
  margin-right px_to_em(4)

.copyright__owner
  font-variation-settings 'wght' 600
  link(var(--link), var(--link), var(--link-active), var(--link-active))

[no-touch] .copyright__owner:hover
  transition color var(--transition)
