.header
  background var(--header-background)
  border-bottom 1px solid var(--border)
  color var(--text)
  grid-area header
  height var(--header-height)
  padding 0 5vw
  position sticky
  top 0
  transition background var(--transition), border var(--transition), color var(--transition)

.header__frame
  align-items center
  display flex
  height 100%
  margin 0 auto
  max-width CLOCKS_MAX_WIDTH

.site-name
  font-size var(--site-header)
  line-height 1
  margin 0
  white-space nowrap
