.header
  align-items center
  color var(--text)
  display flex
  grid-area header
  height var(--header-height)
  justify-content center
  position sticky
  top 0

.site-name
  font-size var(--site-header)
  font-variation-settings 'wght' 600
  line-height 1
  margin 0
  white-space nowrap
