all_webfonts()

html
body
  margin 0
  padding 0
  -webkit-tap-highlight-color transparent
  text-size-adjust none

body
  webfont()
  background var(--background)
  display grid
  grid-template-columns 1fr
  grid-template-rows var(--header-height) 1fr var(--footer-height)
  min-height 100vh // fallback
  min-height calc(var(--viewport-unit, 1vh) * 100)
  transition background var(--transition), color var(--transition)

*
  box-sizing border-box

a
  text-decoration none

a:focus
  outline none

svg
  height auto
  pointer-events none
  vertical-align middle
  width 100%

svg path
  fill currentColor

// Remove all default styles from form elements.
button
[type=checkbox]
[type=radio]
  appearance none
  background none
  border 0
  margin 0
  outline 0
  padding 0
