app-theme
  align-items center
  color var(--link)
  cursor pointer
  display flex
  height var(--header-height)
  justify-content center
  margin-right px_to_rem(-8)
  transition color var(--transition)
  width var(--button-width)

app-theme:focus
[no-touch] app-theme:hover
  color var(--link-active)

app-theme:active > .icon
  transform scale(.75)
  transition transform var(--transition)

.icon--themifier
  width px_to_rem(20)
