app-theme
  align-items center
  color var(--text)
  cursor pointer
  display flex
  height var(--header-height)
  justify-content center
  transition color var(--transition-theme)
  width var(--header-height)

.icon--contrast
  width px_to_rem(22)
