@import 'functions';

// @const String
BUTTON_HEIGHT = px_to_rem(40)

// @const String
MENU_ARROW = px_to_rem(12)

// @const String
MENU_ITEM_SIZE = px_to_rem(28)

// @type Hash
Breakpoint = {
  MEDIUM: 'screen and (min-width: %s)' % px_to_rem(640)
}

// NOTE: All 'Clock' hash values need to stay coordinated with
// values in 'source/js/modules/customClock.js'
// @type Hash
Clock = {
  SIZE: 100
  CENTER: 50 // Half of SIZE
  STROKE_WIDTH: 3
  HOURS_HAND_LENGTH: 30
}

// @type Number
MINUTES_HAND_LENGTH = Clock.CENTER - Clock.STROKE_WIDTH

// Clocks lay out in a 3 x 3 grid.
// @type Number
CLOCK_WIDTH = 1 / 3

// @type String
CLOCKS_MAX_WIDTH = 40rem // = 512px

// Calculate the offset as a percentage for laying out clocks mathematically.
// @type Number
CLOCK_OFFSET = (Clock.SIZE - Clock.HOURS_HAND_LENGTH - MINUTES_HAND_LENGTH) * CLOCK_WIDTH

// @type String
DARK_GREY = #222

// @type Hash
ColorPalette = {
  'white': {
    face: white
    hands: black
  },
  'red': {
    face: #c00
    hands: white
  },
  'orange': {
    face: orange
    hands: black
  },
  'yellow': {
    face: yellow
    hands: black
  },
  'green': {
    face: green
    hands: white
  },
  'blue': {
    face: blue
    hands: white
  },
  'indigo': {
    face: indigo
    hands: white
  },
  'violet': {
    face: violet
    hands: black
  },
  'black': {
    face: black
    hands: white
  }
}
