@import 'functions';

// @type String
DARK_GREY = #222

// @type String
MAX_WIDTH = px_to_rem(512)

// @const String
MENU_ARROW = px_to_rem(16)

// @const String
MENU_ITEM_SIZE = px_to_rem(32)

// @type Hash
Breakpoint = {
  MEDIUM: 'screen and (min-width: %s)' % px_to_rem(640)
}

// @type Hash
ColorPalette = {
  'white': {
    face: white
    hands: black
  },
  'darkred': {
    face: darkred
    hands: white
  },
  'crimson': {
    face: crimson
    hands: white
  },
  'tomato': {
    face: tomato
    hands: black
  },
  'orange': {
    face: orange
    hands: black
  },
  'gold': {
    face: gold
    hands: black
  },
  'khaki': {
    face: khaki
    hands: black
  },
  'yellowgreen': {
    face: yellowgreen
    hands: black
  },
  'seagreen': {
    face: seagreen
    hands: white
  },
  'teal': {
    face: teal
    hands: white
  },
  'lightskyblue': {
    face: lightskyblue
    hands: black
  }
  'steelblue': {
    face: steelblue
    hands: white
  },
  'royalblue': {
    face: royalblue
    hands: white
  },
  'midnightblue': {
    face: midnightblue
    hands: white
  }
  'indigo': {
    face: indigo
    hands: white
  },
  'blueviolet': {
    face: blueviolet
    hands: white
  },
  'violet': {
    face: violet
    hands: black
  },
  'hotpink': {
    face: hotpink
    hands: black
  },
  'silver': {
    face: silver
    hands: black
  }
  'black': {
    face: black
    hands: white
  }
}
